{% extends 'NPSFrontendBundle::layout.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="block span12 inbox">
            <div class="block-body">
                <div class="inbox-filter">
                    <a href="{# {{ url('label_new') }} #}#" class="btn add-label show-tip" rel="popover" title="{{ '_Create_label'|trans }}"
                       data-content="{% include "NPSFrontendBundle:Label:create.html.twig" %}" data-html="true">
                        <i class="icon-plus"></i>
                    </a>
                </div>

                {% if (labels | length) > 0 %}
                    <table class="table">
                        <tbody>
                        {% for label in labels %}
                            <tr>
                                <td class="td-star" style="padding-left: 14px">
                                    <a href="{{ url('label_edit', {'id': label.id}) }}" class="no-link icon-pencil" ></a>
                                </td>
                                <td class="td-star">
                                    {% if not label.basic %}
                                        <a href="{{ url('label_delete', {'label_id': label.id}) }}" class="no-link icon-trash" ></a>
                                    {% endif %}
                                </td>
                                <td class="inbox-message">
                                    <a class="list-item" href="{{ url('label_edit', {'id': label.id}) }}" >{{ label.name }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}