{#{% trans_default_domain "emails" %}#}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Newpsel</title>
</head>
<body>
<center>
    <table style="width: 98%; height: 100% ! important; margin: 0px; padding: 0px; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
        <tbody>
        <tr>
            <td align="center" valign="top">
                <table style="width: 612px;" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td align="left" valign="top" height="140">
                            <a title="Newpsel.com" href="http://www.newpsel.com" target="_blank">
                                <img src="http://www.newpsel.com/bundles/npsfrontend/images/xlogo_web.png.pagespeed.ic.p6fEGG5oxJ.png" alt="Newpsel logo" width="81" height="81" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 0px;" height="30">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table style="width: 600px;" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td style="font-family: Arial,Helvetica,sans-serif; font-size: 18px; line-height: 20px; font-weight: bold; color: #4f586b;" align="left" valign="top">
                            <strong>Hello!</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 0px;" height="15">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial,Helvetica,sans-serif; font-size: 12px; line-height: 18px; color: #353b49;" align="left" valign="top">
                            Here are you Chrome extension key: {{ key }}.
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 0px;" height="30">&nbsp;</td>
                    </tr>
                    {#<tr>
                        <td style="font-family: Arial,Helvetica,sans-serif; font-size: 18px; line-height: 30px; font-weight: bold; color: #4f586b; text-transform: uppercase; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #dc6355;" align="left" valign="top">
                            <strong>{{ 'manage_order_label' | trans }}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 0px;" height="15">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial,Helvetica,sans-serif; font-size: 12px; line-height: 18px; color: #353b49;" align="left" valign="top">
                            {{ 'message_order_is_correct' | trans | raw }}
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 0px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #099291;" height="50">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-size: 0px;" height="20">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-size: 0px;" height="20">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial,Helvetica,sans-serif; font-size: 12px; line-height: 18px; color: #353b49;" align="left" valign="top">
                            {{ 'email_privacy_policy' | trans | raw }}
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 0px;" height="15">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial,Helvetica,sans-serif; font-size: 12px; line-height: 12px; color: #353b49;" align="left" valign="middle">
                            <img style="border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; vertical-align: middle;" src="http://www.chicplace.com/themes/nixxis/img/chicplace/email/before_print_think_green.gif" alt="Chicplace logo" width="45" height="33" />
                            {{ 'email_print_warning' | trans }}
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 0px;" height="15">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial,Helvetica,sans-serif; font-size: 12px; line-height: 18px; color: #353b49;" align="left" valign="top">
                            {{ 'email_recipient_warning' | trans }}
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 0px;" height="75">&nbsp;</td>
                    </tr>#}
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</center>
</body>
</html>