<div id="footer">
    <section class="container">
        <header class="major">
            <h2>{{ '_Connect_with_us'|trans }}</h2>
            <span class="byline">{{ '_Connect_with_us_text'|trans }}</span>
        </header>
        <ul class="icons">
            <li class="active"><a href="https://www.facebook.com/Newpsel" class="fa fa-facebook"><span>{{ '_Facebook'|trans }}</span></a></li>
            {#<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>#}
            <li><a href="https://plus.google.com/+Newpsel/posts" class="fa fa-google-plus"><span>{{ '_Google_plus'|trans }}</span></a></li>
            <li><a href="mailto:{{ '_web_email'|trans }}" class="fa fa-at"><span>{{ '_web_email'|trans }}</span></a></li>
        </ul>
        <hr />
    </section>

    <!-- Copyright -->
    <div id="copyright">
        {{ '_Design'|trans }}: <a href="http://templated.co" target="_blank">Templated</a> / {{ '_Image'|trans }}:
        <a href="https://www.flickr.com/photos/stuckincustoms/6306983152/" target="_blank">Trey Ratcliff</a> (<a href="https://creativecommons.org/licenses/by-nc-sa/2.0/" target="_blank">CC</a>)<br>
        <p>&copy; 2014 {{ '_Title'|trans }} &nbsp; <a href="{{ path('privacy_policy') }}" >{{ '_Privacy_policy'|trans }}</a></p>
    </div>
</div>