{% extends 'NPSFrontendBundle:Welcome:index.html.twig' %}

{% block content %}
    <!-- Header Wrapper -->
    <div class="wrapper style1">
        {% include "NPSFrontendBundle:Welcome:header.html.twig" %}
    </div>

    <!-- Main -->
    <div id="main" class="wrapper style4">

        <!-- Content -->
        <div id="content" class="container">
            <section>
                <header class="major">
                    <h2 style="margin-bottom: 0.3em">{{ '_Privacy_policy'|trans }}</h2>
                    <span>{{ '_web_url'|trans }}</span>
                </header>

                <h3>{{ '_Privacy_policy1_header'|trans }}</h3>
                <p>
                    {{ '_Privacy_policy1_text'|trans }}<br>
                    <a href="mailto:{{ '_web_email'|trans }}" target="_top">{{ '_web_email'|trans }}</a>
                </p><br>

                <h3>{{ '_Privacy_policy2_header'|trans }}</h3>
                <p>
                    {{ '_Privacy_policy2_text1'|trans }}<br>
                    {{ '_Privacy_policy2_text2'|trans }}<br>
                    {{ '_Privacy_policy2_text3'|trans }}<br>
                    {{ '_Privacy_policy2_text4'|trans }}<br>
                    {{ '_Privacy_policy2_text5'|trans }}<br>
                    {{ '_Privacy_policy2_text6'|trans }}
                </p><br>

                <h3>{{ '_Privacy_policy3_header1'|trans }}</h3><br>
                <h4>{{ '_Privacy_policy3_header2'|trans }}</h4>
                <p>
                    {{ '_Privacy_policy3_text1'|trans }}<br>
                    {{ '_Privacy_policy3_text2'|trans }}
                </p>
                <h4>{{ '_Privacy_policy3_header3'|trans }}</h4>
                <p>{{ '_Privacy_policy3_text3'|trans }}</p>
                <h4>{{ '_Privacy_policy3_header4'|trans }}</h4>
                <p>{{ '_Privacy_policy3_text4'|trans }}</p><br>

                <h3>{{ '_Privacy_policy4_header'|trans }}</h3>
                <p>
                    {{ '_Privacy_policy4_text1'|trans }}<br>
                    {{ '_Privacy_policy4_text2'|trans }}
                </p><br>

                <h3>{{ '_Privacy_policy5_header1'|trans }}</h3>
                <p>{{ '_Privacy_policy5_text1'|trans }}</p>
                <h4>{{ '_Privacy_policy5_header2'|trans }}</h4>
                <p>
                    {{ '_Privacy_policy5_text2'|trans }}<br>
                    {{ '_Privacy_policy5_text3'|trans }}<br>
                    <b>{{ '_Privacy_policy5_header3'|trans }}</b><br>
                    {{ '_Privacy_policy5_text4'|trans }}<br>
                    {{ '_Privacy_policy5_text5'|trans }}<br>
                    {{ '_Privacy_policy5_text6'|trans|raw }}<br>
                    <b>{{ '_Privacy_policy5_header4'|trans }}</b><br>
                    {{ '_Privacy_policy5_text7'|trans }}<br>
                    {{ '_Privacy_policy5_text8'|trans }}<br>
                    {{ '_Privacy_policy5_text9'|trans|raw }}
                </p>
                <h4>{{ '_Privacy_policy5_header5'|trans }}</h4>
                <p>
                    {{ '_Privacy_policy5_text10'|trans }}<br>
                    <b>{{ '_Privacy_policy5_header6'|trans }}</b><br>
                    {{ '_Privacy_policy5_text11'|trans }}<br>
                    {{ '_Privacy_policy5_text12'|trans }}<br>
                    {{ '_Privacy_policy5_text13'|trans }}<br>
                    {{ '_Privacy_policy5_text14'|trans|raw }}
                </p>
                <h4>{{ '_Privacy_policy5_header7'|trans }}</h4>
                <p>
                    <b>{{ '_Privacy_policy5_header8'|trans }}</b><br>
                    {{ '_Privacy_policy5_text15'|trans }}<br>
                    {{ '_Privacy_policy5_text16'|trans }}<br>
                </p>
                <h4>{{ '_Privacy_policy5_header9'|trans }}</h4>
                <p>
                    {{ '_Privacy_policy5_text17'|trans }}<br>
                    {{ '_Privacy_policy5_text18'|trans }}<br>
                    <b>{{ '_Privacy_policy5_header10'|trans }}</b><br>
                    {{ '_Privacy_policy5_text19'|trans }}<br>
                    {{ '_Privacy_policy5_text20'|trans }}<br>
                    {{ '_Privacy_policy5_text21'|trans|raw }}
                </p>
                <h4>{{ '_Privacy_policy5_header11'|trans }}</h4>
                <p>
                    {{ '_Privacy_policy5_text22'|trans }}<br>
                    <b>{{ '_Privacy_policy5_header12'|trans }}</b><br>
                    {{ '_Privacy_policy5_text23'|trans }}<br>
                    {{ '_Privacy_policy5_text24'|trans }}<br>
                    {{ '_Privacy_policy5_text25'|trans|raw }}
                </p>
                <h4>{{ '_Privacy_policy5_header13'|trans }}</h4>
                <p>
                    {{ '_Privacy_policy5_text26'|trans }}<br>
                    {{ '_Privacy_policy5_text27'|trans }}<br>
                    {{ '_Privacy_policy5_text28'|trans }}<br>
                    <b>{{ '_Privacy_policy5_header14'|trans }}</b><br>
                    {{ '_Privacy_policy5_text29'|trans }}<br>
                    {{ '_Privacy_policy5_text30'|trans }}<br>
                    {{ '_Privacy_policy5_text31'|trans|raw }}<br>
                    <b>{{ '_Privacy_policy5_header15'|trans }}</b><br>
                    {{ '_Privacy_policy5_text32'|trans }}<br>
                    {{ '_Privacy_policy5_text33'|trans }}
                </p><br>

                <h3>{{ '_Privacy_policy6_header1'|trans }}</h3>
                <h4>{{ '_Privacy_policy6_header2'|trans }}</h4>
                <p>{{ '_Privacy_policy6_text'|trans }}</p><br>

                <h3>{{ '_Privacy_policy7_header1'|trans }}</h3>
                <h4>{{ '_Privacy_policy7_header2'|trans }}</h4>
                <p>
                    {{ '_Privacy_policy7_text1'|trans }}<br>
                    {{ '_Privacy_policy7_text2'|trans }}
                </p>
                <h4>{{ '_Privacy_policy7_header3'|trans }}</h4>
                <p>{{ '_Privacy_policy7_text3'|trans }}</p>
                <h4>{{ '_Privacy_policy7_header4'|trans }}</h4>
                <p>{{ '_Privacy_policy7_text4'|trans }}</p>
                <h4>{{ '_Privacy_policy7_header5'|trans }}</h4>
                <p>{{ '_Privacy_policy7_text5'|trans }}</p>
                <h4>{{ '_Privacy_policy7_header6'|trans }}</h4>
                <p>
                    {{ '_Privacy_policy7_text6'|trans }}<br>
                    {{ '_Privacy_policy7_text7'|trans }}<br>
                    {{ '_Privacy_policy7_text8'|trans }}
                </p>
                <h4>{{ '_Privacy_policy7_header7'|trans }}</h4>
                <p>
                    {{ '_Privacy_policy7_text9'|trans }}<br>
                    {{ '_Privacy_policy7_text10'|trans }}
                </p>
                <h4>{{ '_Privacy_policy7_header8'|trans }}</h4>
                <p>{{ '_Privacy_policy7_text11'|trans }}</p>
                <p>{{ '_Privacy_policy_last_update'|trans }}</p><br><br>

                <h3>{{ '_Definition_legal_header1'|trans }}</h3>
                <h4>{{ '_Definition_legal_header2'|trans }}</h4>
                <p>{{ '_Definition_legal_text1'|trans }}</p>
                <h4>{{ '_Definition_legal_header3'|trans }}</h4>
                <p>{{ '_Definition_legal_text2'|trans }}</p>
                <h4>{{ '_Definition_legal_header4'|trans }}</h4>
                <p>{{ '_Definition_legal_text3'|trans }}</p>
                <h4>{{ '_Definition_legal_header5'|trans }}</h4>
                <p>{{ '_Definition_legal_text4'|trans }}</p>
                <h4>{{ '_Definition_legal_header6'|trans }}</h4>
                <p>{{ '_Definition_legal_text5'|trans }}</p>
                <h4>{{ '_Definition_legal_header7'|trans }}</h4>
                <p>{{ '_Definition_legal_text6'|trans }}</p>
                <h4>{{ '_Definition_legal_header8'|trans }}</h4>
                <p>{{ '_Definition_legal_text7'|trans }}</p>
                <a name="cookies"></a>
                <h4>{{ '_Definition_legal_header9'|trans }}</h4>
                <p>{{ '_Definition_legal_text8'|trans }}</p>
                <h4>{{ '_Definition_legal_header10'|trans }}</h4>
                <p>
                    {{ '_Definition_legal_text9'|trans }}<br>
                    {{ '_Definition_legal_text10'|trans }}
                </p>
            </section>
        </div>
    </div>

    {% include "NPSFrontendBundle:Welcome:footer.html.twig" %}
{% endblock %}