<div class="wrapper style2">
    <section class="container">
        <div class="row double">
            <div class="6u">
                <h3>{{ '_Section1_header'|trans }}</h3>
                <p>{{ '_Section1_text'|trans }}</p>
            </div>
            <div class="6u">
                <h3>{{ '_Section2_header'|trans }}</h3>
                <a href="https://play.google.com/store/apps/details?id=com.dpcat237.nps"
                   class="play-store-btn" target="_blank" >
                    <img alt="{{ '_Google_Play_alt'|trans }}" src="{{ asset('bundles/npsfrontend/images/en_generic_rgb_wo_60.png') }}" />
                </a>
                <a href="https://chrome.google.com/webstore/detail/newpsel/lmmmgkmoaloiimekoniokfkkbbhgmmcn"
                   class="chrome-store-btn" target="_blank" >
                    <img alt="{{ '_Chrome_Store_alt'|trans }}" src="{{ asset('bundles/npsfrontend/images/ChromeWebStore_BadgeWBorder_v2.png') }}" />
                </a>
            </div>
        </div>
    </section>
</div>