<div class="wrapper style4">
    <section class="container">
        <header class="major">
            <h2>{{ '_Features'|trans }}</h2>
            <span class="byline"></span>
        </header>
        <div class="row flush">
            <div class="4u">
                <ul class="special-icons">
                    <li>
                        <span class="fa fa-arrow-circle-o-down"></span>
                        <h3>{{ '_Feature1_header'|trans }}</h3>
                        <p>{{ '_Feature1_text'|trans }}</p>
                    </li>
                    <li>
                        <span class="fa fa-file-text-o"></span>
                        <h3>{{ '_Feature4_header'|trans }}</h3>
                        <p>{{ '_Feature4_text'|trans }}</p>
                    </li>
                    <li>
                        <span class="fa fa-globe"></span>
                        <h3>{{ '_Feature7_header'|trans }}</h3>
                        <p>{{ '_Feature7_text'|trans }}</p>
                    </li>
                </ul>
            </div>
            <div class="4u">
                <ul class="special-icons">
                    <li>
                        <span class="fa fa-tags"></span>
                        <h3>{{ '_Feature2_header'|trans }}</h3>
                        <p>{{ '_Feature2_text'|trans }}</p><br>
                    </li>
                    <li>
                        <span class="fa fa-language"></span>
                        <h3>{{ '_Feature5_header'|trans }}</h3>
                        <p>{{ '_Feature5_text'|trans }}</p>
                    </li>
                    <li>
                        <span class="fa fa-group"></span>
                        <h3>{{ '_Feature8_header'|trans }}</h3>
                        <p>{{ '_Feature8_text'|trans }}</p>
                    </li>
                </ul>
            </div>
            <div class="4u">
                <ul class="special-icons">
                    <li>
                        <span class="fa fa-headphones"></span>
                        <h3>{{ '_Feature3_header'|trans }}</h3>
                        <p>{{ '_Feature3_text'|trans }}</p>
                    </li>
                    <li>
                        <span class="fa fa-plug"></span>
                        <h3>{{ '_Feature6_header'|trans }}</h3>
                        <p>{{ '_Feature6_text'|trans }}</p>
                    </li>
                    <li>
                        <span class="fa fa-filter"></span>
                        <h3>{{ '_Feature9_header'|trans }}</h3>
                        <p>{{ '_Feature9_text'|trans }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>