{% extends 'NPSFrontendBundle::base.html.twig' %}

{% block body %}
    {% block content %}
        <div class="login bgd-password">
            <div class="wrapper">
                <div class="block-dark">
                    <h3>{{ '_Change_password'|trans }}</h3>
                    <hr class="hr-dark">
                    <form id="changePassword" class="form-dark" method="post" action="{{ url('new_password', {'key': key}) }}">
                        <div class="input-prepend">
                            <span class="add-dark"><i class="icon-lock"></i></span>
                            {{ form_widget(form.password, { 'attr' : {'data-required':'true', 'placeholder':'_Password' }} ) }}
                        </div>
                        <span id="sign-form-valid">
                            {{ form_row(form._token) }}
                            <input type="submit" class="btn btn-inverse pull-right" value="{{ '_Submit'|trans }}">
                        </span>
                        <div class="clearfix"></div>
                        <p class="para-account">&nbsp</p>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock body %}