{% extends 'NPSFrontendBundle::base.html.twig' %}

{% block body %}
{% block content %}
    <div class="login">
        <div class="wrapper">
            <div class="block-dark sign-block">
                <h3>{{ '_Login_to_account'|trans }}</h3>

                <hr class="hr-dark">
                <div class="row-fluid">
                    <div class="span12 open-id">
                        <a href="{{ path("hwi_oauth_service_redirect", {service: "facebook"}) }}" class="modern sign-facebook"><span class="mordern-id">Facebook</span></a>
                        <a href="{{ path("hwi_oauth_service_redirect", {service: "google"}) }}" class="modern sign-google"><span class="mordern-id">Google +</span></a>
                        {# already works but because API doesn't return email we can't add it
                        <a href="{{ path("hwi_oauth_service_redirect", {service: "twitter"}) }}" class="hide" >Twitter</a>#}
                    </div>
                </div>
                <hr class="hr-dark">

                <form data-validate="parsley" id="sign-form" class="form-dark" method="post">
                    <div class="input-prepend">
                        <div>
                            <span class="add-dark"><i class="icon-user"></i></span>
                            {{ form_widget(form.email, { 'attr' : {'data-required':'true', 'placeholder':'_Email' }} ) }}
                        </div>
                        <div>{{ form_errors(form.email) }}</div>
                    </div>
                    <div class="input-prepend">
                        <div>
                            <span class="add-dark"><i class="icon-lock"></i></span>
                            {{ form_widget(form.password, { 'attr' : {'data-required':'true', 'placeholder':'_Password' }} ) }}
                        </div>
                        <div>{{ form_errors(form.password) }}</div>
                    </div>
                        <span id="sign-form-valid">
                            {{ form_row(form._token) }}
                            <input type="submit" class="btn btn-inverse pull-right" value="Log In">
                        </span>
                    {#<div class="remember">
                        <input type="checkbox" id="signIn[remember_me]" name="signIn[remember_me]" checked>
                        <span{% trans %}>Remember me{% endtrans %}</span>
                    </div>#}
                </form>
                <div class="clearfix"></div>
                <hr class="hr-dark">
                {#<p><a href="password.html">Forgot your password?</a></p>#}
                <p class="para-account">{{ '_Dont_acount_yet'|trans }} <a href="{{ url("sign_up") }}">{{ '_Create_account'|trans }}</a></p>
            </div>
        </div>
    </div>
{% endblock %}

{% endblock body %}