{% extends 'NPSFrontendBundle::base.html.twig' %}

{% block body %}
    {% block content %}
        <div class="login bgd-account">
            <div class="wrapper">
                <div class="block-dark sign-block">
                    <h3>{{ '_Sign_up'|trans }}</h3>

                    <hr class="hr-dark">
                    <div class="row-fluid">
                        <div class="span12 open-id">
                            <a href="{{ path("hwi_oauth_service_redirect", {service: "facebook"}) }}" class="modern sign-facebook"><span class="mordern-id">Facebook</span></a>
                            <a href="{{ path("hwi_oauth_service_redirect", {service: "google"}) }}" class="modern sign-google"><span class="mordern-id">Google +</span></a>
                            {# already works but because API doesn't return email we can't add it
                            <a href="{{ path("hwi_oauth_service_redirect", {service: "twitter"}) }}" class="hide" >Twitter</a>#}
                        </div>
                    </div>
                    <hr class="hr-dark">

                    <form data-validate="parsley" action="{{ path("sign_up") }}" id="sign-form" class="form-dark" method="post">
                        <div class="input-prepend">
                            <span class="add-dark"><i class="icon-envelope"></i></span>
                            {{ form_widget(form.email, { 'attr' : {'data-required':'true', 'data-type':'email', 'placeholder':'_Email' }} ) }}
                            <div>{{ form_errors(form.email) }}</div>
                            {% if errors == '305' %}
                                <ul class="parsley-error-list" style="display: block;">
                                    <li class="required" style="display: list-item;">{{ '_Email_exists'|trans }}</li>
                                </ul>
                            {% endif %}
                        </div>
                        <div class="input-prepend">
                            <span class="add-dark"><i class="icon-lock"></i></span>
                            {{ form_widget(form.password.first, { 'attr' : {'data-required':'true', 'data-equalto':'#signUp_password_first', 'placeholder':'_Password' }} ) }}
                        </div>
                        <div class="input-prepend">
                            <span class="add-dark"><i class="icon-ok"></i></span>
                            {{ form_widget(form.password.second, { 'attr' : {'data-required':'true', 'data-equalto':'#signUp_password_first', 'placeholder':'_Confirm_password' }} ) }}
                        </div>
                            {{ form_row(form._token) }}
                            <span id="sign-form-valid" onclick="javascript:$('#sign-form').parsley('validate');">
                            <input type="submit" class="btn btn-inverse pull-right" value="{{ '_Submit'|trans }}">
                          </span>
                    </form>

                    {#<form action="#">
                        <div class="agree">
                            <input type="checkbox"><span>I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></span>
                        </div>
                    </form>#}
                    <div class="clearfix"></div>
                    <hr class="hr-dark">
                    <p class="para-account">{{ '_Already_account'|trans }} <a href="{{ path("sign_in") }}">{{ '_Sign_in'|trans }}</a></p>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock body %}