<div data-offset-top="360" data-spy="affix" class="sidebar-nav affix">
    <form class="search form-inline">
        <input type="text" placeholder="Search...">
        <button class="search-submit btn-search" value="" type="submit"><i class="icon-search"></i></button>
    </form>

    <div class="sidebar-avatar">
        <img src="{{ asset('bundles/npsfrontend/images/logo.png') }}" alt="avatar" class="thumbnail-avatar">
        <a href="#modalAddFeed" role="button" data-toggle="modal">
            <div class="sidebar-avatar-message show-tip" title="{{ '_Subscribe_to_feed'|trans }}">
                <div class="notify-message">
                    <span class="add-dark"><i class="icon-plus"></i></span>
                </div>
            </div>
        </a>
        {#<a href="#"><div class="sidebar-avatar-message"><div class="notify notify-message"><i class="icon-envelope"></i></div></div></a>
        <a href="#"><div class="sidebar-avatar-notify"><div class="notify ">7</div></div></a>#}
    </div>


    <div class="" style="height: 43% !important;">
        {#<a href="{{ path("homepage") }}" class="nav-header {% if app.request.get('_route') == 'homepage' %}selected{% endif %}" >
            <i class="icon-home"></i>{{ '_Home'|trans }}
        </a>#}
        <a href="{{ path("items_stared_list") }}" class="nav-header {% if app.request.get('_route') == 'items_stared_list' %}selected{% endif %}" ><i class="icon-star"></i>{{ '_Starred'|trans }}</a>
        <a class="nav-header mOptAction {% if app.request.get('_route') == 'items_later_list' %}selected{% endif %}" data-sebmenu="mLabelsList">
            <i class="icon-tags"></i>{{ '_Labels'|trans }}<span class="label sidebar-label label-info"><i class="icon-angle-down"></i></span>
        </a>
        {% render controller("NPSFrontendBundle:Label:menu") %}

        <a class="nav-header mOptAction {% if app.request.get('_route') == 'items_list' %}selected{% endif %}" data-sebmenu="mSubscriptionList">
            <i class="icon-rss"></i>{{ '_Feeds'|trans }}<span class="label sidebar-label label-info"><i class="icon-angle-down"></i> </span>
        </a>
        {% render controller("NPSFrontendBundle:Feed:menu") %}
    </div>
</div>