{% extends 'NPSFrontendBundle::layout.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="block span12 inbox">
            <div class="block-body">

                <table class="table">
                    <tbody>
                    {% for laterItem in items %}
                        {% set item = laterItem.userItem.item %}
                        <tr>
                            <td class="td-star" style="padding-left: 7px">
                                <i class="showLink icon-external-link" data-url="{{ url('mark_later_read', {'label_id': laterItem.later.id, 'later_item_id': laterItem.id}) }}" data-externallink="{{ item.link }}" data-id="{{ item.id }}" ></i>
                            </td>
                            <td class="inbox-message">
                                <a id="itemText-id-{{ item.id }}" class="list-item{% if laterItem.unread %} bold{% endif %}" href="{{ url('item_later_view', {'label_id': laterItem.LaterId, 'later_item_id': laterItem.id}) }}">{{ item.title|raw }}</a>
                            </td>
                            <td class="center">{{ item.humanDateAdd }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}