{% extends 'NPSFrontendBundle::layout.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="block span12 inbox">
            <div class="block-body">
                <div class="inbox-filter">
                    <div class="btn-group">
                        <a class="btn" href="{{ path('items_later_list_read', {'label_id': app.request.get('label_id')}) }}" title="{{ '_Refresh'|trans }}">
                            <i class="icon-refresh"></i>
                        </a>
                        <a class="btn" href="{{ path('items_later_list', {'label_id': app.request.get('label_id')}) }}" title="{{ '_Show_last'|trans }}">
                            <i class="icon-eye-close"></i>
                        </a>
                    </div>
                </div>

                <table class="table">
                    <tbody>
                    {% for laterItem in items %}
                        {% set userItem = laterItem.userItem %}
                        {% set item = userItem.item %}
                        <tr>
                            <td class="list-later-item-btn">
                                <i class="btn showLink icon-external-link" data-url="{{ path('mark_later_read', {'later_item_id': laterItem.id}) }}"
                                   data-externallink="{{ item.link }}" data-id="{{ item.id }}" title="{{ '_Show_in_tab'|trans }}" ></i>
                                <a class="btn icon-tag dropdown-toggle" data-toggle="dropdown" href="#" title="{{ '_Set_label'|trans }}"></a>
                                <ul class="dropdown-menu">
                                    {% for label in labels %}
                                        <li><a class="addLabelAction" data-url="{{ path('item_add_label', {'user_item_id': userItem.id, 'label_id': label.id}) }}"
                                               data-id="{{ label.id }}">{{ label.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td class="inbox-message">
                                <a id="itemText-id-{{ item.id }}" class="list-item{% if laterItem.unread %} bold{% endif %}" href="{{ path('item_later_view', {'label_id': laterItem.LaterId, 'later_item_id': laterItem.id}) }}">{{ item.title|raw }}</a>
                            </td>
                            <td class="center dateColumn">{{ item.humanDateAdd }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}