{% extends 'NPSFrontendBundle::layout.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="block span12 inbox">
            <div class="block-body">
                <div class="inbox-filter">
                    <div class="btn-group">
                        <a class="btn" href="{{ path('items_list_read', {'user_feed_id': userFeedId}) }}" title="{{ '_Refresh'|trans }}">
                            <i class="icon-refresh"></i>
                        </a>
                        <a class="btn" href="{{ path('items_list', {'user_feed_id': userFeedId}) }}" title="{{ '_Show_last'|trans }}">
                            <i class="icon-eye-close"></i>
                        </a>
                    </div>
                </div>

                <table class="table">
                    <tbody>
                    {% if userItems | length > 0 %}
                        {% for userItem in userItems %}
                            {% set item = userItem.item %}
                            <tr>
                                <td class="list-item-btn">
                                    <i class="btn readAction{% if userItem.unread %} icon-check-empty{% else %} icon-check{% endif %}"
                                        data-url="{{ path('mark_read', {'user_feed_id': userFeedId, 'user_item_id': userItem.id}) }}"
                                        data-id="{{ userItem.id }}" title="{{ '_Read_unread'|trans }}" ></i>
                                    <i class="btn starAction{% if userItem.isStared %} icon-star{% else %} icon-star-empty{% endif %}"
                                        data-url="{{ path('mark_star', {'user_item_id': userItem.id}) }}" title="{{ '_Favorite_unfavorite'|trans }}" ></i>
                                    <a class="btn icon-tag dropdown-toggle" data-toggle="dropdown" href="#" title="{{ '_Set_label'|trans }}"></a>
                                    <ul class="dropdown-menu">
                                        {% for label in labels %}
                                            <li><a class="addLabelAction" data-url="{{ path('item_add_label', {'user_item_id': userItem.id, 'label_id': label.id}) }}"
                                                   data-id="{{ label.id }}">{{ label.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td class="inbox-message">
                                    <a id="itemText-id-{{ userItem.id }}" class="list-item{% if userItem.unread %} bold{% endif %}" href="{{ path('item_view', {'user_feed_id': userFeedId, 'user_item_id': userItem.id}) }}">{{ item.title|raw }}</a>
                                </td>
                                <td class="center dateColumn">{{ item.humanDateAdd }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td class="listNotify">
                                {{ '_notification_no_articles'|trans }}
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}