{% extends 'NPSFrontendBundle::Default/base.html.twig' %}

{% block title %}BaseEcommerce{% endblock title %}

{% block head_style %}
    {# CSS (classic way) #}
    {% stylesheets filter='?yui_css,cssrewrite' output='css/*.css' 'bundles/npsfrontend/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock head_style %}

{% block body %}
{% block content %}
    <div id="login-bg">
    <div>
        <a href="{{ path('admin_index') }}">
            <img src="{{ asset('bundles/npsfrontend/images/logo.jpg') }}" alt="NPS" />
        </a>
    </div>
    <div id="login-holder">
        <div id="loginbox">
            <!--  start login-inner -->
            <div id="login-inner">
                <form action="{{ url("admin_login_check") }}" method="post" id="login">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <th>{{ form_label(form.username,'', {'attr' : {'class':''} }) }}</th>
                            <td>
                                {{ form_widget(form.username, { 'attr' : {'class':'login-inp' }} ) }}
                                {{ form_errors(form.username, { 'attr' : {'class' : 'skinMsgInfo'} } ) }}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ form_label(form.password,'', {'attr' : {'class':''} }) }}</th>
                            <td>
                                {{ form_widget(form.password, { 'attr' : {'class':'login-inp' }} ) }}
                                {{ form_errors(form.password, { 'attr' : {'class' : 'skinMsgInfo'} } ) }}
                            </td>
                        </tr>
                        <!--<tr>
                            <th></th>
                            <td valign="top"><input type="checkbox" class="checkbox-size" id="login-check" /><label for="login-check">Remember me</label></td>
                        </tr>-->
                        <tr>
                            <th></th>
                            <td>
                                {{ form_row(form._token) }}
                                <input id="submit-login" type="submit" class="submit-login" value="Login" />
                            </td>
                        </tr>
                    </table>
            </div>
            {% if error %}
                <div class="error">{{ error.message }}</div>
            {% endif %}
            <!--  end login-inner -->
            <div class="clear"></div>
            <a href="" class="forgot-pwd">Forgot Password?</a>
        </div>
        <!--  end loginbox -->

        <!--  start forgotbox ................................................................................... -->
        <!--<div id="forgotbox">
            <div id="forgotbox-text">Please send us your email and we'll reset your password.</div>
            <div id="forgot-inner">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>Email address:</th>
                        <td><input type="text" value=""   class="login-inp" /></td>
                    </tr>
                    <tr>
                        <th> </th>
                        <td><input type="button" class="submit-login"  /></td>
                    </tr>
                </table>
            </div>
            <div class="clear"></div>
            <a href="" class="back-login">Back to login</a>
        </div>-->
        <!--  end forgotbox -->

    </div>
    </div>
{% endblock %}

{% endblock body %}

{% block foot_script %}
    {%- javascripts
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script type="text/javascript">
        $(function(){
            $('input').checkBox();
            $('#toggle-all').click(function(){
                $('#toggle-all').toggleClass('toggle-checked');
                $('#mainform input[type=checkbox]').checkBox('toggle');
                return false;
            });
        });
    </script>
    {% endjavascripts %}
{% endblock foot_script %}