{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-message">
        <em>Notice</em>: {{ flashMessage }}
    </div>
{% endfor %}

<!--  start message-green -->
{% for flashMessage_s in app.session.flashbag.get('success') %}
    {% if flashMessage_s %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
            <strong>{{ flashMessage_s }}</strong>
        </div>
    {% endif %}
{% endfor %}
<!--  end message-green -->

<!--  start message-blue -->
{% for flashMessage_n in app.session.flashbag.get('notification') %}
    {% if flashMessage_n %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
            <strong>{{ flashMessage_n }}</strong>
        </div>
    {% endif %}
{% endfor %}
<!--  end message-blue -->

<!--  start message-yellow -->
{% for flashMessage_a in app.session.flashbag.get('alert') %}
    {% if flashMessage_a %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
            <strong>{{ flashMessage_a }}</strong>
        </div>
    {% endif %}
{% endfor %}
<!--  end message-yellow -->

<!--  start message-red -->
{% for flashMessage_e in app.session.flashbag.get('error') %}
    {% if flashMessage_e %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
            <strong>{{ flashMessage_e }}</strong>
        </div>
    {% endif %}
{% endfor %}
<!--  end message-red -->