{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-message">
        <em>Notice</em>: {{ flashMessage }}
    </div>
{% endfor %}

<!--  start message-green -->
{% for flashMessage_s in app.session.flashbag.get('success') %}
    {% if flashMessage_s %}
        <div id="message-green">
            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="green-left">{{ flashMessage_s }}</td>
                    <td class="green-right"><a class="close-green">
                        <img src="{{ asset('bundles/npsfrontend/images/table/icon_close_green.gif') }}"   alt="" />
                    </a></td>
                </tr>
            </table>
        </div>
    {% endif %}
{% endfor %}
<!--  end message-green -->

<!--  start message-blue -->
{% for flashMessage_n in app.session.flashbag.get('notification') %}
    {% if flashMessage_n %}
        <div id="message-blue">
            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="blue-left">{{ flashMessage_n }}</td>
                    <td class="blue-right"><a class="close-blue"><img src="images/table/icon_close_blue.gif"   alt="" /></a></td>
                </tr>
            </table>
        </div>
    {% endif %}
{% endfor %}
<!--  end message-blue -->

<!--  start message-yellow -->
{% for flashMessage_a in app.session.flashbag.get('alert') %}
    {% if flashMessage_a %}
        <div id="message-yellow">
            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="yellow-left">{{ flashMessage_a }}</td>
                    <td class="yellow-right"><a class="close-yellow"><img src="images/table/icon_close_yellow.gif"   alt="" /></a></td>
                </tr>
            </table>
        </div>
    {% endif %}
{% endfor %}
<!--  end message-yellow -->

<!--  start message-red -->
{% for flashMessage_e in app.session.flashbag.get('error') %}
    {% if flashMessage_e %}
        <div id="message-red">
            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="red-left">{{ flashMessage_e }}</td>
                    <td class="red-right"><a class="close-red"><img src="images/table/icon_close_red.gif"   alt="" /></a></td>
                </tr>
            </table>
        </div>
    {% endif %}
{% endfor %}
<!--  end message-red -->