<div id="related-activities">

    <!--  start related-act-top -->
    <div id="related-act-top">
        <img src="{{ asset('bundles/npsfrontend/images/forms/header_related_act.gif') }}" width="271" height="43" alt="" />
    </div>
    <!-- end related-act-top -->

    <!--  start related-act-bottom -->
    <div id="related-act-bottom">

        <!--  start related-act-inner -->
        <div id="related-act-inner">

            <div class="left"><a href="">
                <img src="{{ asset('bundles/npsfrontend/images/forms/icon_plus.gif') }}" width="21" height="21" alt="" />
            </a></div>
            <div class="right">
                <h5>{% trans %}Add another{% endtrans %}</h5>
                Lorem ipsum dolor sit amet consectetur
                adipisicing elitsed do eiusmod tempor.
                <ul class="greyarrow">
                    {% if url_create is defined %}
                        <li><a href="{{ url_create }}">{% trans %}Add another{% endtrans %}</a></li>
                    {% endif %}
                    {% if url_list is defined %}
                        <li><a href="{{ url_list }}">{% trans %}Return to the list{% endtrans %}</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="clear"></div>
            <div class="lines-dotted-short"></div>

            <div style="opacity:0.4;">
                <div class="left"><a href="">
                    <img src="{{ asset('bundles/npsfrontend/images/forms/icon_minus.gif') }}" width="21" height="21" alt="" />
                </a></div>
                <div class="right">
                    <h5>Delete products</h5>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elitsed do eiusmod tempor.
                    <ul class="greyarrow">
                        <li><a href="">Click here to visit</a></li>
                        <li><a href="">Click here to visit</a> </li>
                    </ul>
                </div>
            </div>

            <div class="clear"></div>
            <div class="lines-dotted-short"></div>

            <div style="opacity:0.4;">
                <div class="left"><a href="">
                    <img src="{{ asset('bundles/npsfrontend/images/forms/icon_edit.gif') }}" width="21" height="21" alt="" />
                </a></div>
                <div class="right">
                    <h5>Edit countries</h5>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elitsed do eiusmod tempor.
                    <ul class="greyarrow">
                        <li><a href="">Click here to visit</a></li>
                        <li><a href="">Click here to visit</a> </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>

        </div>
        <!-- end related-act-inner -->
        <div class="clear"></div>

    </div>
    <!-- end related-act-bottom -->

</div>