{% extends 'NPSFrontendBundle::base.html.twig' %}

{% block body %}
    {% block content %}
        <div class="login bgd-account">
            <div class="wrapper">
                <div class="block-dark sign-block">
                    <h3>{% trans %}Sign up{% endtrans %}</h3>
                    <form data-validate="parsley" action="{{ url("sign_up") }}" id="sign-form" class="form-dark" method="post">
                        <div class="input-prepend">
                            <span class="add-dark"><i class="icon-user"></i></span>
                            {{ form_widget(form.username, { 'attr' : {'data-required':'true', 'placeholder':'Username' }} ) }}
                            {{ errors }}
                            {% if errors == '304' %}
                                <ul class="parsley-error-list" style="display: block;">
                                    <li class="required" style="display: list-item;">
                                        {% trans %}Username already exists{% endtrans %}
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                        <div class="input-prepend">
                            <span class="add-dark"><i class="icon-envelope"></i></span>
                            {{ form_widget(form.email, { 'attr' : {'data-required':'true', 'data-type':'email', 'placeholder':'Email' }} ) }}
                            {% if errors == '305' %}
                                <ul class="parsley-error-list" style="display: block;">
                                    <li class="required" style="display: list-item;">
                                        {% trans %}Email already exists{% endtrans %}
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                        <div class="input-prepend">
                            <span class="add-dark"><i class="icon-lock"></i></span>
                            {{ form_widget(form.password.first, { 'attr' : {'data-required':'true', 'data-equalto':'#signUp_password_first', 'placeholder':'Password' }} ) }}
                        </div>
                        <div class="input-prepend">
                            <span class="add-dark"><i class="icon-ok"></i></span>
                            {{ form_widget(form.password.second, { 'attr' : {'data-required':'true', 'data-equalto':'#signUp_password_first', 'placeholder':'Confirm password' }} ) }}
                        </div>
                            {{ form_row(form._token) }}
                            <span id="sign-form-valid" onclick="javascript:$('#sign-form').parsley('validate');">
                            <input type="submit" class="btn btn-inverse pull-right" value="{% trans %}Submit{% endtrans %}">
                          </span>
                    </form>

                    {#<form action="#">
                        <div class="agree">
                            <input type="checkbox"><span>I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></span>
                        </div>
                    </form>#}
                    <div class="clearfix"></div>
                    <hr class="hr-dark">
                    <p class="para-account">{% trans %}Already have an account?{% endtrans %} <a href="{{ url("sign_in") }}">{% trans %}Sign in{% endtrans %}</a></p>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock body %}