    <!--  start actions-box ............................................... -->
    {% if url_create_list is defined %}
        <div id="actions-box">
            <a href="" class="action-slider"></a>
            <div id="actions-box-slider">
                {% if url_create_list is defined %}
                    <a href="{{ url_create_list }}" class="action-edit">{% trans %}Create{% endtrans %}</a>
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>
    {% endif %}
    <!-- end actions-box........... -->

    <!--  start paging..................................................... -->
    {% if page_actual is defined and page_total > 1 %}
        <table border="0" cellpadding="0" cellspacing="0" id="paging-table">
            <tr>
                <td>
                    {% if page_actual > 1 %}
                        <a href="{{ url('admin_users', {'page': 1}) }}" class="page-far-left"></a>
                        {% if page_previous %}
                            <a href="{{ url('admin_users', {'page': page_previous}) }}" class="page-left"></a>
                        {% endif %}
                    {% endif %}
                    <div id="page-info">Page <strong>{{ page_actual }}</strong> / {{ page_total }}</div>
                    {% if page_actual < page_total %}
                        {% if page_next %}
                            <a href="{{ url('admin_users', {'page': page_next}) }}" class="page-right"></a>
                        {% endif %}
                        <a href="{{ url('admin_users', {'page': page_total}) }}" class="page-far-right"></a>
                    {% endif %}
                </td>
                <!--<td>
                    <select  class="styledselect_pages">
                        <option value="">Number of row</option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>
                </td>-->
            </tr>
        </table>
    {% endif %}
    <!--  end paging................ -->

<div class="clear"></div>

</div>
<!--  end content-table-inner ............................................END  -->
</td>
<td id="tbl-border-right"></td>
</tr>
<tr>
    <th class="sized bottomleft"></th>
    <td id="tbl-border-bottom">&nbsp;</td>
    <th class="sized bottomright"></th>
</tr>
</table>
<div class="clear">&nbsp;</div>

</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
</div>
<!--  end content-outer........................................................END -->