{% extends 'NPSFrontendBundle::Default/layout.html.twig' %}

{% block content %}
    <!--  start product-table ..................................................................................... -->
    <form id="mainform" action="">
        <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
            <tr>
                <th class="table-header-repeat line-left minwidth-1"><a href="">{% trans %}Date{% endtrans %}</a></th>
                <th class="table-header-repeat line-left minwidth-1"><a href="">{% trans %}Title{% endtrans %}</a></th>
                <th class="table-header-options line-left"><a href="">{% trans %}Options{% endtrans %}</a></th>
            </tr>

            {% for entry in entries %}
                <tr>
                    <td>{{ entry.humanDateAdd }}</td>
                    <td>
                        <a href="{{ url('entry', {'id': entry.id}) }}"><b>{{ entry.title|raw }}</b></a>
                        {# {% if entry.isRead %}
                            <a href="{{ url('entry', {'id': entry.id}) }}">{{ entry.title|raw }}</a>
                        {% else %}
                            <a href="{{ url('entry', {'id': entry.id}) }}"><b>{{ entry.title|raw }}</b></a>
                        {% endif %}#}
                    </td>
                    <td class="options-width">
                        {#{% if entry.isRead %}
                            <a href="{{ url('entry_read', {'feedId': entry.feedId, 'entryId': entry.id}) }}" title="Unread" class="icon-5 info-tooltip"></a>
                        {% else %}
                            <a href="{{ url('entry_read', {'feedId': entry.feedId, 'entryId': entry.id}) }}" title="Read" class="icon-2 info-tooltip"></a>
                        {% endif %}
                        {% if entry.isStarred %}
                            <a href="{{ url('entry_starred', {'feedId': entry.feedId, 'entryId': entry.id}) }}" title="Unread" class="icon-3 icon-3_on info-tooltip"></a>
                        {% else %}
                            <a href="{{ url('entry_starred', {'feedId': entry.feedId, 'entryId': entry.id}) }}" title="Read" class="icon-3 info-tooltip"></a>
                        {% endif %}#}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <!-- end product-table................................... -->
    </form>
{% endblock %}