{% extends 'NPSFrontendBundle::layout.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="block span12">
            <div class="block-body">
                <div>
                    <form id="editLater" method="post" action="{{ action_url }}" class="wizard" {{ form_enctype(form) }}>
                        <div class="input-prepend">
                            <span class="add"><i class="icon-edit"></i></span>
                            {{ form_widget(form.name, { 'attr' : {'placeholder':'Name' }} ) }}
                        </div>
                        <div class="input-prepend">
                            <span class="add"><i class="icon-edit"></i></span>
                            {{ form_widget(form.type, { 'attr' : {}} ) }}
                        </div>
                        <div class="input-prepend">
                            <span class="add"><i class="icon-edit"></i></span>
                            {{ form_widget(form.feeds) }}
                            {{ form_errors(form.feeds) }}
                        </div>
                        <div class="input-prepend">
                            <span class="add"><i class="icon-edit"></i></span>
                            {{ form_widget(form.later) }}
                            {{ form_errors(form.later) }}
                        </div>

                        <span id="validate-basic-form-valid">
                            {{ form_row(form._token) }}
                            <input type="submit" class="btn  btn-primary" value="{% trans %}Submit{% endtrans %}">
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}